@font-face {
  font-family: 'Nunito-Bold';
  font-weight: 700;
  src: url(assets/fonts/Nunito/Nunito-Bold.ttf) format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Nunito-SemiBold';
  font-weight: 600;
  src: url(assets/fonts/Nunito/Nunito-Regular.ttf) format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Nunito-Regular';
  font-weight: 400;
  src: url(assets/fonts/Nunito/Nunito-Regular.ttf) format('truetype');
  font-style: normal;
}
